* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 213, 213);
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.image-window {
    width: 40rem;
    height: 40rem;
    background: coral;
}

.image-browser {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.image-browser i {
    font-size: 5rem;
    transition: 0.25s;
}

.image-browser i:hover {
    transform: scale(1.2);
    transition: 0.25s;
    cursor: pointer;
}

.image-thumbnail {
    height: 10rem;
    width: 10rem;
    border: 1px solid coral;
    margin: 1rem 1rem;
    transition: 0.25s;
}

.image-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-thumbnail:hover {
    transform: scale(1.1);
    transition: 0.25s;
    cursor: pointer;
}
